<div class="now_playing">
	<h1><%= @playlist.title %></h1>
	<img src="<%= @playlist.art_url %>"/>
	<br />
	<a href="/playlists/<%=@playlist.id%>/songs/new">Add a Song</a>
</div>
<%= render partial: 'songs/playlist_song_card', collection: @listed_songs, as: :song %>
<audio id="audio" preload="auto" tabindex="0" controls="" type="audio/mpeg"></audio>


